body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

p{
    color: white;
}
.background{
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
}
.donate-button{
    color: white;
    padding: 10px;
    background-color: tomato;
    border-radius: 5px;
    border: 0px;

}
.top-content{
    height: 300px;
    width: 500px;
   
}